.banner {
    height: 260px;
    background: url(../img/Coffee_bg.jpg) center center no-repeat;
    background-size: cover
}

.banner .title-big {
    margin-top: 60px
}

.shop {
    padding: 70px 0 40px 0
}

.shop .title {
    margin-top: 10px
}

.shop__girl {
    display: block;
    margin: 0 auto
}

.shop__text {
    margin-top: 25px;
    font-size: 14px;
    text-align: center
}

.shop__search-label {
    margin-right: 20px
}

.shop__search-input {
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
    border: none;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 15px
}

.shop__search-input::-webkit-input-placeholder {
    text-align: center
}

.shop__search-input::-ms-input-placeholder {
    text-align: center
}

.shop__search-input::placeholder {
    text-align: center
}

.shop__filter {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.shop__filter-label {
    margin-right: 35px
}

.shop__filter-btn {
    width: 75px;
    height: 30px;
    background-color: #fff;
    border: none;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
    font-size: 12px;
    outline: 0;
    cursor: pointer
}

.shop__filter-btn:first-child {
    border-radius: 4px 0 0 4px
}

.shop__filter-btn:last-child {
    border-radius: 0 4px 4px 0
}

.shop__filter-btn:focus {
    outline: 0
}

.shop__wrapper {
    display: flex;
    flex-wrap: wrap
}

.shop__item {
    width: 220px;
    min-height: 240px;
    margin: 60px 40px 0 40px;
    padding: 22px 24px;
    background: rgba(255, 255, 255, .65);
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .25);
    transition: .3s all
}

.shop__item:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .25)
}

.shop__item img {
    display: block;
    margin: 0 auto;
    width: 151px;
    height: 130px;
    -o-object-fit: cover;
    object-fit: cover
}

.shop__item-country,
.shop__item-price,
.shop__item-title {
    font-size: 14px;
    margin-top: 10px;
    text-align: right
}

.shop__point {
    margin-top: 16px
}

.shop__point span {
    font-weight: 700
}

.shop__point-price {
    font-size: 24px;
    font-weight: 400 !important
}

.shop__point:first-child {
    margin-top: 26px
}

footer {
    padding: 20px 0
}

.footer {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    list-style-type: none
}

.footer__item {
    font-size: 12px;
    margin-right: 40px;
    font-weight: 400
}

.footer__item a {
    color: #000
}

.footer__item a:visited {
    text-decoration: none;
    color: #000
}

.footer__item a:hover {
    text-decoration: none;
    color: #000
}

.header {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    list-style-type: none
}

.header__item {
    font-size: 12px;
    margin-right: 40px;
    font-weight: 400;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.header__item:first-child {
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
}

.header__item a {
    color: #fff
}

.header__item a:visited {
    text-decoration: none;
    color: #fff
}

.header__item a:hover {
    text-decoration: none;
    color: #fff
}

.preview {
    height: 640px;
    background: url(../img/Main_bg.jpg) center center no-repeat;
    background-size: cover
}

.preview .title-big {
    margin-top: 110px
}

.preview__subtitle {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin-top: 110px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.preview__subtitle {
    font-size: 24px;
    margin-top: 20px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.preview__btn {
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    margin-top: 18px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .05);
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    font-size: 14px
}

.preview__btn:visited {
    text-decoration: none;
    color: #fff
}

.preview__btn:hover {
    text-decoration: none;
    color: #fff
}

.beanslogo {
    display: block;
    margin: 0 auto;
    margin-top: 20px
}

.about {
    padding: 80px 0 110px 0;
    background-color: #fff
}

.about__text {
    margin-top: 40px;
    text-align: center;
    font-size: 14px
}

.best {
    padding: 80px 0 110px 0;
    background-color: #fff;
    background: url(../img/paper.jpg) center center no-repeat;
    background-size: cover
}

.best__wrapper {
    display: flex;
    flex-wrap: wrap
}

.best__item {
    width: 220px;
    min-height: 240px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 22px 24px;
    background: rgba(255, 255, 255, .65);
    border-radius: 8px
}

.best__item img {
    display: block;
    margin: 0 auto;
    width: 151px;
    height: 130px;
    -o-object-fit: cover;
    object-fit: cover
}

.best__item-price,
.best__item-title {
    font-size: 14px;
    margin-top: 10px;
    text-align: right
}

.best__item-price {
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Merienda;
    outline: 0
}

body {
    overflow-x: hidden
}

.title {
    font-size: 24px;
    text-align: center
}

.title-big {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.line {
    width: 240px;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px
}

.header {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    list-style-type: none
}

.header__item {
    font-size: 12px;
    margin-right: 40px;
    font-weight: 400;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.header__item:first-child {
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
}

.header__item a {
    color: #fff
}

.header__item a:visited {
    text-decoration: none;
    color: #fff
}

.header__item a:hover {
    text-decoration: none;
    color: #fff
}

.preview {
    height: 640px;
    background: url(../img/Main_bg.jpg) center center no-repeat;
    background-size: cover
}

.preview .title-big {
    margin-top: 110px
}

.preview__subtitle {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin-top: 110px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.preview__subtitle {
    font-size: 24px;
    margin-top: 20px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.preview__btn {
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    margin-top: 18px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .05);
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    font-size: 14px
}

.preview__btn:visited {
    text-decoration: none;
    color: #fff
}

.preview__btn:hover {
    text-decoration: none;
    color: #fff
}

.beanslogo {
    display: block;
    margin: 0 auto;
    margin-top: 20px
}

.about {
    padding: 80px 0 110px 0;
    background-color: #fff
}

.about__text {
    margin-top: 40px;
    text-align: center;
    font-size: 14px
}

.best {
    padding: 80px 0 110px 0;
    background-color: #fff;
    background: url(../img/paper.jpg) center center no-repeat;
    background-size: cover
}

.best__wrapper {
    display: flex;
    flex-wrap: wrap
}

.best__item {
    width: 220px;
    min-height: 240px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 22px 24px;
    background: rgba(255, 255, 255, .65);
    border-radius: 8px
}

.best__item img {
    display: block;
    margin: 0 auto;
    width: 151px;
    height: 130px;
    -o-object-fit: cover;
    object-fit: cover
}


.banner {
    height: 260px;
    background: url(../img/Coffee_bg.jpg) center center no-repeat;
    background-size: cover
}

.banner_for_you_pleasure {
    height: 260px;
    background: url(../img/for_you_pleasure.png) center center no-repeat;
    background-size: cover
}


.banner .title-big {
    margin-top: 60px
}

.shop {
    padding: 70px 0 40px 0
}

.shop .title {
    margin-top: 10px
}

.shop__girl {
    display: block;
    margin: 0 auto
}

.shop__text {
    margin-top: 25px;
    font-size: 14px;
    text-align: center
}

.shop__search-label {
    margin-right: 20px
}

.shop__search-input {
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
    border: none;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 15px
}

.shop__search-input::-webkit-input-placeholder {
    text-align: center
}

.shop__search-input::-ms-input-placeholder {
    text-align: center
}

.shop__search-input::placeholder {
    text-align: center
}

.shop__filter {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.shop__filter-label {
    margin-right: 35px
}

.shop__filter-btn {
    width: 75px;
    height: 30px;
    background-color: #fff;
    border: none;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
    font-size: 12px;
    outline: 0;
    cursor: pointer
}

.shop__filter-btn:first-child {
    border-radius: 4px 0 0 4px
}

.shop__filter-btn:last-child {
    border-radius: 0 4px 4px 0
}

.shop__filter-btn:focus {
    outline: 0
}

.shop__wrapper {
    display: flex;
    flex-wrap: wrap
}

.shop__item {
    width: 220px;
    min-height: 240px;
    margin: 60px 40px 0 40px;
    padding: 22px 24px;
    background: rgba(255, 255, 255, .65);
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .25);
    transition: .3s all
}

.shop__item:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .25)
}

.shop__item img {
    display: block;
    margin: 0 auto;
    width: 151px;
    height: 130px;
    -o-object-fit: cover;
    object-fit: cover
}

.shop__item-country,
.shop__item-price,
.shop__item-title {
    font-size: 14px;
    margin-top: 10px;
    text-align: right
}

.shop__point {
    margin-top: 16px
}

.shop__point span {
    font-weight: 700
}

.shop__point-price {
    font-size: 24px;
    font-weight: 400 !important
}

.shop__point:first-child {
    margin-top: 26px
}

footer {
    padding: 20px 0
}

.footer {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    list-style-type: none
}

.footer__item {
    font-size: 12px;
    margin-right: 40px;
    font-weight: 400
}

.footer__item a {
    color: #000
}

.footer__item a:visited {
    text-decoration: none;
    color: #000
}

.footer__item a:hover {
    text-decoration: none;
    color: #000
}